/******************************************
 * =Colors
 ******************************************/
$clr-yellow-400: #e28625;
$clr-green-400: #006971;
$clr-dark-green-400: #004140;
$clr-neutral-100: #f2f2f2;
$clr-white: #ffffff;

$fs-body: 0.9375rem;
$fs-heading: 2.5rem;

$ff-body: "Lexend Deca", sans-serif;
$ff-heading: "Big Shoulders Display", sans-serif;

$rounded-full: 9999px;
